body {
  background-image: url(img/wall.png);
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
}

.first {
  float: left;
  margin: 6px;
  width: 10%;
  height: 10%;
  opacity: 0.6;
  
}

.second {
  float: left;
  margin: 6px;
  width: 10%;
  height: 10%;
  opacity: 0.6;
}

#popup {
  position: absolute;
  display: none;
}


.container {
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(243, 243, 243, 0.3);
}
#content-text {
  float: left;
  padding: 0 10px;
}

.text {
  padding: 0 10px;
}
#content-II {
}

#countries {
  /*display: inline-block;*/
  width: 50%;
  float: left;
  margin: auto;

}

#table {
  /*display: inline-block;*/
  width: 50%;
  float: left;
  text-align: center;
  margin: auto;
}

td,
table {
  border: 1px solid black;
  min-width: 50px;
}

.footer {
  text-align: center;
  clear: both;
  background-color: black;
  color: white;
  padding: 10px;
}


